.post-tiles {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.post {
    flex: 1 0 30%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px 0 lightgray, 0 0 10px 0 lightgray;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.1);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0 0 20px 0 lightgray, 0 0 20px 0 lightgray;
    }
}

.header {
    position: relative;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
}

.btn {
    width: 33%;
    margin-right: 10px;
}

.search {
    display: inline-block;
    width: 60%;
    height: 100%;
}

@media screen and (max-width: 720px) { 
    .post-tiles {
      flex-direction: column;
    }
}

@media screen and (max-width: 1024px) { 
    .post {
      flex: 1 0 45%
    }
}
