<div class="header">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-primary" (click)="onLogout()">
        Log out
    </button>
    <input [(ngModel)]="search" class="form-control">
  </div>
</div>
<div class="post-tiles">
  <div class="post" *ngFor="let post of posts | filter : search" routerLink="/details/{{post.id}}">
    <app-post 
      title={{post.title}}
      userId={{post.userId}}
    ></app-post>
  </div>
</div>