<div class="container">
  <div class="card row">
      <div class="panel-heading">
          <h2>{{ title }}</h2>
      </div>
      <div class="panel-body">
        <form #loginForm="ngForm">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="username" name="username" placeholder="Name" required type="text" pattern=".{5,}" #user="ngModel">
            <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
                Username should contain at least 5 characters.
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="password" name="password" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required type="password" #pass="ngModel">
            <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
                Password should contain at least 8 characters, at least one small letter, at least one capital letter and at least one number.
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="!loginForm.form.valid" type="button" class="btn btn-primary" (click)="onLogin(username, password)">
                Log in
            </button>
          </div>
        </form>
      </div>
  </div>
</div>
