<div class="header">
  <button routerLink="" type="button" class="btn btn-primary">
      Go back
  </button>
</div>
<h2>
  Details
</h2>
<div *ngIf="post" class="content">
  <div>
    UserId: {{post.userId}}
  </div>
  <div>
    Id: {{post.id}}
  </div>
  <div>
    Title: {{post.title}}
  </div>
  <div>
    Body: {{post.body}}
  </div>
</div>
